.start-page-view {
  background-color: #f0efef;
  border-radius: 3vw;
  margin: 1vw;
  padding: 1vw;
  .greeting-text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .intro-text {
    color: #777a8d;
    line-height: 6.5vw;
    padding: 2.5vw 0;
  }
  .question-hint{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.question-text{
				color: #777A8D;
			}
			.change-btn{
				display: flex;
				align-items: center;
				.change{
					color: #5A56D0;
				}
				.rotate-animation{
					transition: 1s;
					transform: rotate(360deg);
				}
			}
		}
}
