.start-page-view {
  background-color: white;
  border-radius: 3vw;
  margin: 1vw;
  padding: 1vw;
  .greeting-text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .intro-text {
    color: #777a8d;
    line-height: 6.5vw;
    padding: 2.5vw 0;
  }
  .recently-news{
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.user-content{
  background-color: rgb(0, 170, 255);
}
.start-page-view1{
  background-color: rgb(0, 170, 255);
  border-radius: 3vw;
  margin: 1vw;
  padding: 1vw;
}