.layout {
  .navBars {
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: dimgray;
    z-index: 1;
  }
}
.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.font {
  color: black;
}
